.collection-item {
    width: 22%;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
  
    .image {
      width: 100%;
      height: 95%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
      border-radius: 3px;
      box-shadow: 2px 2px 5px black;
    }
  
    .collection-footer {
      width: 100%;
      height: 5%;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
  
      .name {
        width: 90%;
        margin-bottom: 15px;
        text-shadow: 1px 1px #a09e9e;
      }
  
      .price {
        width: 10%;
        color: #000703;
        text-shadow: 1px 1px #a09e9e;
      }
    }
  }