body {
    height: 100vh;
    padding: 20px 60px;
    font-family: Scheherazade New;
    background: linear-gradient(70deg, #e8eaec, #504f4f);
}

a {
    text-decoration: none;
    color:  #f8f8f8;
    text-shadow: 2px 2px #222222;
}