* {
    box-sizing: border-box;
}

body {
    padding: 20px 60px;
    font-family: Scheherazade New;
    background: linear-gradient(70deg, #e8eaec, #e0dddd);
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color:  white;
    /* text-shadow: 2px 2px #959595; */
}
 a:hover {
     color: #4285f4;
 }

